# Set default behaviour, in case users don't have core.autocrlf set.
*          text=auto

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.cs       text diff=csharp
*.csproj   text diff=xml
*.sln      text
*.txt      text
*.xml      text diff=xml

# Denote all files that are truly binary and should not be modified.
*.bin      binary
