<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include Variables.wxi?>
  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Condition Message="This application is only supported on Windows Vista, Windows Server 2008, or higher.."><![CDATA[Installed OR (VersionNT >= 600)]]></Condition>
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR NETFRAMEWORK45]]></Condition>
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="ProgramMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="Component_AutoMapper.dll" />
      <ComponentRef Id="Component_ClosedXML.dll" />
      <ComponentRef Id="Component_CommonServiceLocator.dll" />
      <ComponentRef Id="Component_DocumentFormat.OpenXml.dll" />
      <ComponentRef Id="Component_EntityFramework.dll" />
      <ComponentRef Id="Component_EntityFramework.SqlServer.dll" />
      <ComponentRef Id="Component_EntityFramework.SqlServerCompact.dll" />
      <ComponentRef Id="Component_EntityFramework6.Npgsql.dll" />
      <ComponentRef Id="Component_ExcelNumberFormat.dll" />
      <ComponentRef Id="Component_ExtensibilityAssistant.dll" />
      <ComponentRef Id="Component_FastMember.Signed.dll" />
      <ComponentRef Id="Component_LocalizationAssistant.dll" />
      <ComponentRef Id="Component_Log4Net.config" />
      <ComponentRef Id="Component_log4net.dll" />
      <ComponentRef Id="Component_Microsoft.Azure.KeyVault.Core.dll" />
      <ComponentRef Id="Component_Microsoft.WindowsAzure.Storage.dll" />
      <ComponentRef Id="Component_MySql.Data.dll" />
      <ComponentRef Id="Component_MySql.Data.Entity.EF6.dll" />
      <ComponentRef Id="Component_Newtonsoft.Json.dll" />
      <ComponentRef Id="Component_Npgsql.dll" />
      <ComponentRef Id="Component_Oracle.ManagedDataAccess.dll" />
      <ComponentRef Id="Component_Oracle.ManagedDataAccess.EntityFramework.dll" />
      <ComponentRef Id="Component_SupportAssistant.dll" />
      <ComponentRef Id="Component_SupportAssistant.dll.config" />
      <ComponentRef Id="Component_System.Data.SqlServerCe.dll" />
      <ComponentRef Id="Component_System.Runtime.CompilerServices.Unsafe.dll" />
      <ComponentRef Id="Component_System.Threading.Tasks.Extensions.dll" />
      <ComponentRef Id="Component_System.ValueTuple.dll" />
      <ComponentRef Id="Component_Unity.Abstractions.dll" />
      <ComponentRef Id="Component_Unity.Configuration.dll" />
      <ComponentRef Id="Component_Unity.Container.dll" />
      <ComponentRef Id="Component_Unity.Interception.Configuration.dll" />
      <ComponentRef Id="Component_Unity.Interception.dll" />
      <ComponentRef Id="Component_Unity.RegistrationByConvention.dll" />
      <ComponentRef Id="Component_Unity.ServiceLocation.dll" />
      <ComponentRef Id="Component_WebMoney.Cryptography.dll" />
      <ComponentRef Id="Component_WebMoney.Services.Contracts.dll" />
      <ComponentRef Id="Component_WebMoney.Services.Contracts.dll.config" />
      <ComponentRef Id="Component_WebMoney.Services.dll" />
      <ComponentRef Id="Component_WebMoney.Services.dll.config" />
      <ComponentRef Id="Component_WebMoney.XmlInterfaces.dll" />
      <ComponentRef Id="Component_WMBusinessTools.exe" />
      <ComponentRef Id="Component_WMBusinessTools.exe.config" />
      <ComponentRef Id="Component_WMBusinessTools.Extensions.Contracts.dll" />
      <ComponentRef Id="Component_WMBusinessTools.Extensions.Contracts.dll.config" />
      <ComponentRef Id="Component_WMBusinessTools.Extensions.dll" />
      <ComponentRef Id="Component_WMBusinessTools.Extensions.dll.config" />
      <ComponentRef Id="Component_Xml2WinForms.dll" />
      <ComponentRef Id="Component_sqlceca40.dll" />
      <ComponentRef Id="Component_sqlcecompact40.dll" />
      <ComponentRef Id="Component_sqlceer40EN.dll" />
      <ComponentRef Id="Component_sqlceme40.dll" />
      <ComponentRef Id="Component_sqlceqp40.dll" />
      <ComponentRef Id="Component_sqlcese40.dll" />
      <ComponentRef Id="Component_Microsoft.VC90.CRT.manifest" />
      <ComponentRef Id="Component_msvcr90.dll" />
      <ComponentRef Id="Component_Extensions.json" />
      <ComponentRef Id="Component_Ant.png" />
      <ComponentRef Id="Component_ClearMerchantKey.png" />
      <ComponentRef Id="Component_Contracts.png" />
      <ComponentRef Id="Component_Copy.png" />
      <ComponentRef Id="Component_CreateContract.png" />
      <ComponentRef Id="Component_CreateOutgoingInvoice.png" />
      <ComponentRef Id="Component_CreateTransfer.png" />
      <ComponentRef Id="Component_DbSettings.png" />
      <ComponentRef Id="Component_Details.png" />
      <ComponentRef Id="Component_Find.png" />
      <ComponentRef Id="Component_FindCertificate.png" />
      <ComponentRef Id="Component_FindWmId.png" />
      <ComponentRef Id="Component_FinishProtection.png" />
      <ComponentRef Id="Component_IncomingInvoiceFilter.png" />
      <ComponentRef Id="Component_KeySettings.png" />
      <ComponentRef Id="Component_Link.png" />
      <ComponentRef Id="Component_Logo120x120.png" />
      <ComponentRef Id="Component_OpenFile.png" />
      <ComponentRef Id="Component_OutgoingInvoiceFilter.png" />
      <ComponentRef Id="Component_PasswordSettings.png" />
      <ComponentRef Id="Component_PayInvoice.png" />
      <ComponentRef Id="Component_Pfx.png" />
      <ComponentRef Id="Component_RecordEdit.png" />
      <ComponentRef Id="Component_RedeemPaymer.png" />
      <ComponentRef Id="Component_Refresh.png" />
      <ComponentRef Id="Component_RejectInvoice.png" />
      <ComponentRef Id="Component_Remove.png" />
      <ComponentRef Id="Component_RunAsAdministrator.png" />
      <ComponentRef Id="Component_SendMessage.png" />
      <ComponentRef Id="Component_SendSms.png" />
      <ComponentRef Id="Component_SetMerchantKey.png" />
      <ComponentRef Id="Component_Settings.png" />
      <ComponentRef Id="Component_Start.png" />
      <ComponentRef Id="Component_Stop.png" />
      <ComponentRef Id="Component_TransferFilter.png" />
      <ComponentRef Id="Component_Unverified.png" />
      <ComponentRef Id="Component_UnverifiedProtected.png" />
      <ComponentRef Id="Component_Verified.png" />
      <ComponentRef Id="Component_VerifiedProtected.png" />
      <ComponentRef Id="Component_Alias.png" />
      <ComponentRef Id="Component_Capitaller.png" />
      <ComponentRef Id="Component_CapitallerEntity.png" />
      <ComponentRef Id="Component_Cashier.png" />
      <ComponentRef Id="Component_Developer.png" />
      <ComponentRef Id="Component_Formal.png" />
      <ComponentRef Id="Component_Guarantor.png" />
      <ComponentRef Id="Component_Initial.png" />
      <ComponentRef Id="Component_Merchant.png" />
      <ComponentRef Id="Component_Operator.png" />
      <ComponentRef Id="Component_Personal.png" />
      <ComponentRef Id="Component_Registrar.png" />
      <ComponentRef Id="Component_Service.png" />
      <ComponentRef Id="Component_Alias.png_1" />
      <ComponentRef Id="Component_Capitaller.png_1" />
      <ComponentRef Id="Component_CapitallerEntity.png_1" />
      <ComponentRef Id="Component_Cashier.png_1" />
      <ComponentRef Id="Component_Developer.png_1" />
      <ComponentRef Id="Component_Formal.png_1" />
      <ComponentRef Id="Component_Guarantor.png_1" />
      <ComponentRef Id="Component_Initial.png_1" />
      <ComponentRef Id="Component_Merchant.png_1" />
      <ComponentRef Id="Component_Operator.png_1" />
      <ComponentRef Id="Component_Personal.png_1" />
      <ComponentRef Id="Component_Registrar.png_1" />
      <ComponentRef Id="Component_Service.png_1" />
      <ComponentRef Id="Component_Alias.png_2" />
      <ComponentRef Id="Component_Capitaller.png_2" />
      <ComponentRef Id="Component_CapitallerEntity.png_2" />
      <ComponentRef Id="Component_Cashier.png_2" />
      <ComponentRef Id="Component_Developer.png_2" />
      <ComponentRef Id="Component_Formal.png_2" />
      <ComponentRef Id="Component_Guarantor.png_2" />
      <ComponentRef Id="Component_Initial.png_2" />
      <ComponentRef Id="Component_Merchant.png_2" />
      <ComponentRef Id="Component_Operator.png_2" />
      <ComponentRef Id="Component_Personal.png_2" />
      <ComponentRef Id="Component_Registrar.png_2" />
      <ComponentRef Id="Component_Service.png_2" />
      <ComponentRef Id="Component_Alias.png_3" />
      <ComponentRef Id="Component_Capitaller.png_3" />
      <ComponentRef Id="Component_CapitallerEntity.png_3" />
      <ComponentRef Id="Component_Cashier.png_3" />
      <ComponentRef Id="Component_Developer.png_3" />
      <ComponentRef Id="Component_Formal.png_3" />
      <ComponentRef Id="Component_Guarantor.png_3" />
      <ComponentRef Id="Component_Initial.png_3" />
      <ComponentRef Id="Component_Merchant.png_3" />
      <ComponentRef Id="Component_Operator.png_3" />
      <ComponentRef Id="Component_Personal.png_3" />
      <ComponentRef Id="Component_Registrar.png_3" />
      <ComponentRef Id="Component_Service.png_3" />
      <ComponentRef Id="Component_Incoming.png" />
      <ComponentRef Id="Component_Outgoing.png" />
      <ComponentRef Id="Component_Payed.png" />
      <ComponentRef Id="Component_Rejected.png" />
      <ComponentRef Id="Component_DotNet.png" />
      <ComponentRef Id="Component_Mono.png" />
      <ComponentRef Id="Component_MsSqlServer.png" />
      <ComponentRef Id="Component_MySql.png" />
      <ComponentRef Id="Component_OracleDatabase.png" />
      <ComponentRef Id="Component_PostgreSql.png" />
      <ComponentRef Id="Component_WebMoney.png" />
      <ComponentRef Id="Component_WMB.png" />
      <ComponentRef Id="Component_WMC.png" />
      <ComponentRef Id="Component_WMD.png" />
      <ComponentRef Id="Component_WME.png" />
      <ComponentRef Id="Component_WMG.png" />
      <ComponentRef Id="Component_WMH.png" />
      <ComponentRef Id="Component_WMK.png" />
      <ComponentRef Id="Component_WML.png" />
      <ComponentRef Id="Component_WMR.png" />
      <ComponentRef Id="Component_WMU.png" />
      <ComponentRef Id="Component_WMV.png" />
      <ComponentRef Id="Component_WMX.png" />
      <ComponentRef Id="Component_WMY.png" />
      <ComponentRef Id="Component_WMZ.png" />
      <ComponentRef Id="Component_WMB.png_1" />
      <ComponentRef Id="Component_WMC.png_1" />
      <ComponentRef Id="Component_WMD.png_1" />
      <ComponentRef Id="Component_WME.png_1" />
      <ComponentRef Id="Component_WMG.png_1" />
      <ComponentRef Id="Component_WMH.png_1" />
      <ComponentRef Id="Component_WMK.png_1" />
      <ComponentRef Id="Component_WML.png_1" />
      <ComponentRef Id="Component_WMR.png_1" />
      <ComponentRef Id="Component_WMU.png_1" />
      <ComponentRef Id="Component_WMV.png_1" />
      <ComponentRef Id="Component_WMX.png_1" />
      <ComponentRef Id="Component_WMY.png_1" />
      <ComponentRef Id="Component_WMZ.png_1" />
      <ComponentRef Id="Component_WMB.png_2" />
      <ComponentRef Id="Component_WMC.png_2" />
      <ComponentRef Id="Component_WMD.png_2" />
      <ComponentRef Id="Component_WME.png_2" />
      <ComponentRef Id="Component_WMG.png_2" />
      <ComponentRef Id="Component_WML.png_2" />
      <ComponentRef Id="Component_WMR.png_2" />
      <ComponentRef Id="Component_WMU.png_2" />
      <ComponentRef Id="Component_WMY.png_2" />
      <ComponentRef Id="Component_WMZ.png_2" />
      <ComponentRef Id="Component_WMB.png_3" />
      <ComponentRef Id="Component_WMC.png_3" />
      <ComponentRef Id="Component_WMD.png_3" />
      <ComponentRef Id="Component_WME.png_3" />
      <ComponentRef Id="Component_WMG.png_3" />
      <ComponentRef Id="Component_WML.png_3" />
      <ComponentRef Id="Component_WMR.png_3" />
      <ComponentRef Id="Component_WMU.png_3" />
      <ComponentRef Id="Component_WMY.png_3" />
      <ComponentRef Id="Component_WMZ.png_3" />
      <ComponentRef Id="Component_AboutForm.json" />
      <ComponentRef Id="Component_AddIdentifierForm.json" />
      <ComponentRef Id="Component_AddPurseForm.json" />
      <ComponentRef Id="Component_CertificateForm.json" />
      <ComponentRef Id="Component_ClassicKeySettingsForm.json" />
      <ComponentRef Id="Component_ContractDetailsForm.json" />
      <ComponentRef Id="Component_ContractFilterForm.json" />
      <ComponentRef Id="Component_CreateContractForm.json" />
      <ComponentRef Id="Component_CreateOutgoingInvoiceForm.json" />
      <ComponentRef Id="Component_CreatePaymentLinkForm.json" />
      <ComponentRef Id="Component_CreatePurseForm.json" />
      <ComponentRef Id="Component_CreateTransferForm.json" />
      <ComponentRef Id="Component_CreateTrustForm.json" />
      <ComponentRef Id="Component_DbSettingsForm.json" />
      <ComponentRef Id="Component_DetailsForm.json" />
      <ComponentRef Id="Component_EnterForm.json" />
      <ComponentRef Id="Component_FindCertificateForm.json" />
      <ComponentRef Id="Component_FindIdentifierForm.json" />
      <ComponentRef Id="Component_FindMerchantTransferForm.json" />
      <ComponentRef Id="Component_FinishProtectionForm.json" />
      <ComponentRef Id="Component_IncomingInvoiceFilterForm.json" />
      <ComponentRef Id="Component_IncomingInvoiceFilterScreen.json" />
      <ComponentRef Id="Component_LightKeySettingsForm.json" />
      <ComponentRef Id="Component_MoneybackForm.json" />
      <ComponentRef Id="Component_OutgoingInvoiceFilterForm.json" />
      <ComponentRef Id="Component_PasswordSettingsForm.json" />
      <ComponentRef Id="Component_PayInvoiceForm.json" />
      <ComponentRef Id="Component_PreparedTransferFilterForm.json" />
      <ComponentRef Id="Component_ProxySettingsForm.json" />
      <ComponentRef Id="Component_PursesScreen.json" />
      <ComponentRef Id="Component_RedeemPaymerForm.json" />
      <ComponentRef Id="Component_RegistrationForm.json" />
      <ComponentRef Id="Component_RejectInvoiceForm.json" />
      <ComponentRef Id="Component_RejectProtectionForm.json" />
      <ComponentRef Id="Component_RequestNumberSettingsForm.json" />
      <ComponentRef Id="Component_SendMessageForm.json" />
      <ComponentRef Id="Component_SendMessageToDeveloperForm.json" />
      <ComponentRef Id="Component_SendSMSForm.json" />
      <ComponentRef Id="Component_SetMerchantKeyForm.json" />
      <ComponentRef Id="Component_TakePaymentForm.json" />
      <ComponentRef Id="Component_TakeTrustForm.json" />
      <ComponentRef Id="Component_TransferBundleFilterForm.json" />
      <ComponentRef Id="Component_TransferFilterForm.json" />
      <ComponentRef Id="Component_TransferRegisterForm.json" />
      <ComponentRef Id="Component_TrustsScreen.json" />
      <ComponentRef Id="Component_VerifyClientForm.json" />
      <ComponentRef Id="Component__TemplateLibrary.json" />
      <ComponentRef Id="Component_aboutform.json_1" />
      <ComponentRef Id="Component_addidentifierform.json_1" />
      <ComponentRef Id="Component_addpurseform.json_1" />
      <ComponentRef Id="Component_certificate.json" />
      <ComponentRef Id="Component_certificateform.json_1" />
      <ComponentRef Id="Component_classickeysettingsform.json_1" />
      <ComponentRef Id="Component_clearmerchantkey.json" />
      <ComponentRef Id="Component_contractdetailsform.json_1" />
      <ComponentRef Id="Component_contractfilterform.json_1" />
      <ComponentRef Id="Component_createcontractform.json_1" />
      <ComponentRef Id="Component_createoutgoinginvoiceform.json_1" />
      <ComponentRef Id="Component_createpaymentlinkform.json_1" />
      <ComponentRef Id="Component_createpurseform.json_1" />
      <ComponentRef Id="Component_createtransferform.json_1" />
      <ComponentRef Id="Component_createtrustform.json_1" />
      <ComponentRef Id="Component_dbsettingsform.json_1" />
      <ComponentRef Id="Component_details.json" />
      <ComponentRef Id="Component_detailsform.json_1" />
      <ComponentRef Id="Component_enter.json" />
      <ComponentRef Id="Component_enterform.json_1" />
      <ComponentRef Id="Component_errorform.json" />
      <ComponentRef Id="Component_extensibility.json" />
      <ComponentRef Id="Component_findcertificateform.json_1" />
      <ComponentRef Id="Component_findidentifierform.json_1" />
      <ComponentRef Id="Component_findmerchanttransfer.json" />
      <ComponentRef Id="Component_findmerchanttransferform.json_1" />
      <ComponentRef Id="Component_finishprotectionform.json_1" />
      <ComponentRef Id="Component_generalsettings.json" />
      <ComponentRef Id="Component_incominginvoicefilter.json" />
      <ComponentRef Id="Component_incominginvoicefilterform.json_1" />
      <ComponentRef Id="Component_incominginvoicefilterscreen.json_1" />
      <ComponentRef Id="Component_lightkeysettingsform.json_1" />
      <ComponentRef Id="Component_main.json" />
      <ComponentRef Id="Component_menu.json" />
      <ComponentRef Id="Component_moneybackform.json_1" />
      <ComponentRef Id="Component_outgoinginvoicefilter.json" />
      <ComponentRef Id="Component_outgoinginvoicefilterform.json_1" />
      <ComponentRef Id="Component_passwordsettingsform.json_1" />
      <ComponentRef Id="Component_payinvoiceform.json_1" />
      <ComponentRef Id="Component_preparedtransferfilterform.json_1" />
      <ComponentRef Id="Component_proxysettingsform.json_1" />
      <ComponentRef Id="Component_pursesscreen.json_1" />
      <ComponentRef Id="Component_redeempaymerform.json_1" />
      <ComponentRef Id="Component_registration.json" />
      <ComponentRef Id="Component_registrationform.json_1" />
      <ComponentRef Id="Component_rejectinvoiceform.json_1" />
      <ComponentRef Id="Component_rejectprotectionform.json_1" />
      <ComponentRef Id="Component_removepurse.json" />
      <ComponentRef Id="Component_requestnumbersettingsform.json_1" />
      <ComponentRef Id="Component_screens.json" />
      <ComponentRef Id="Component_sendmessageform.json_1" />
      <ComponentRef Id="Component_sendmessagetodeveloperform.json_1" />
      <ComponentRef Id="Component_sendsmsform.json_1" />
      <ComponentRef Id="Component_setmerchantkeyform.json_1" />
      <ComponentRef Id="Component_settings.json" />
      <ComponentRef Id="Component_takepaymentform.json_1" />
      <ComponentRef Id="Component_taketrustform.json_1" />
      <ComponentRef Id="Component_transferbundlefilterform.json_1" />
      <ComponentRef Id="Component_transferfilter.json" />
      <ComponentRef Id="Component_transferfilterform.json_1" />
      <ComponentRef Id="Component_transferregister.json" />
      <ComponentRef Id="Component_transferregisterform.json_1" />
      <ComponentRef Id="Component_trustsscreen.json_1" />
      <ComponentRef Id="Component_updatetrust.json" />
      <ComponentRef Id="Component_verifyclientform.json_1" />
      <ComponentRef Id="Component_wmbt_extensions.json" />
      <ComponentRef Id="Component_xml2winforms.json" />
      <ComponentRef Id="Component_WebMoney.Services.Contracts.resources.dll" />
      <ComponentRef Id="Component_WebMoney.Services.resources.dll" />
      <ComponentRef Id="Component_WebMoney.XmlInterfaces.resources.dll" />
      <ComponentRef Id="Component_WMBusinessTools.Extensions.Contracts.resources.dll" />
      <ComponentRef Id="Component_WMBusinessTools.Extensions.resources.dll" />
      <ComponentRef Id="Component_WMBusinessTools.resources.dll" />
      <ComponentRef Id="Component_Xml2WinForms.resources.dll" />
      <ComponentRef Id="Component_Extensions.json_1" />
      <ComponentRef Id="Component__180507_Microsoft_IT_SSL_SHA2.cer" />
      <ComponentRef Id="Component__180714_webmoney.ru.cer" />
      <ComponentRef Id="Component__200530_AddTrust_External_CA_Root.cer" />
      <ComponentRef Id="Component__211122_w3s.webmoney.ru.cer" />
      <ComponentRef Id="Component__211122_w3s.wmtransfer.com.cer" />
      <ComponentRef Id="Component__350310_WebMoneyCA.cer" />
      <ComponentRef Id="Component_Extensions.json_2" />
      <ComponentRef Id="Component_sqlceca40.dll_1" />
      <ComponentRef Id="Component_sqlcecompact40.dll_1" />
      <ComponentRef Id="Component_sqlceer40EN.dll_1" />
      <ComponentRef Id="Component_sqlceme40.dll_1" />
      <ComponentRef Id="Component_sqlceqp40.dll_1" />
      <ComponentRef Id="Component_sqlcese40.dll_1" />
      <ComponentRef Id="Component_Microsoft.VC90.CRT.manifest_1" />
      <ComponentRef Id="Component_msvcr90.dll_1" />
    </Feature>
    <Icon Id="App.ico" SourceFile="Resources\App.ico" />
    <PropertyRef Id="NETFRAMEWORK45" />
    <Property Id="ARPPRODUCTICON">App.ico</Property>
    <Property Id="ARPURLINFOABOUT">$(var.AboutUrl)</Property>
    <Property Id="ARPHELPLINK">$(var.HelpUrl)</Property>
    <Property Id="ARPCONTACT">$(var.Email)</Property>
    <Property Id="ARPHELPTELEPHONE">$(var.Phone)</Property>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.LaunchCheckBoxPrefix) $(var.ProductName)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#$(var.ExecTarget)]" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources/Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources/Dialog.bmp" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication" Order="2">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
  </Product>
</Wix>