<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Quiet" value="true"/>
  </appSettings>

  <log4net debug="false">

    <!-- http://megadarja.blogspot.com/2008/04/log4net.html -->
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="${LOCALAPPDATA}/WMBusinessTools/logs/log4net-"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="50"/>
      <datePattern value="dd.MM.yyyy.lo\g"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{dd-MM-yyyy HH:mm:ss.fff} %-5p %C.%M %m%n"/>
      </layout>
      <encoding value="UTF-8"/>
    </appender>

    <!-- http://sorokoletov.com/2010/03/using-log4net-configuration/ -->
    <!-- http://yourlog4netviewer.codeplex.com/ -->
    <appender name="XmlFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="${LOCALAPPDATA}/WMBusinessTools/logs/log4net-"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="50"/>
      <datePattern value="dd.MM.yyyy.x\ml"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net">
        <locationinfo value="true" />
      </layout>
      <encoding value="UTF-8"/>
    </appender>

    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <lockingModel type="log4net.Appender.UdpAppender+MinimalLock"/>
      <param name="RemoteAddress" value="127.0.0.1"/>
      <param name="RemotePort" value="4445"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net"/>
    </appender>

    <root>
      <priority value="ERROR"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="UdpAppender"/>
    </root>

    <!-- http://logging.apache.org/log4net/release/config-examples.html -->

  </log4net>

</configuration>